.form{
  border: 1px solid rgba(var(--red), var(--green), var(--blue));
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
}
.btn{
  background-color: rgba(var(--red), var(--green), var(--blue));
  border: transparent;
}