.conten{
  max-width: 100% !important;
  overflow: hidden !important;
  background-color: var(--colorHome);
  min-height: 100vh;
}
.titleH1{
  text-shadow: 2px 2px 2px var(--colorShadow);
  font-size: 70px;
}
.titleH2{
  text-shadow: 2px 2px 2px var(--colorShadow);
  font-size: 50px;
}
@media (max-width: 768px) {
  .titleH1{
    font-size: 40px;
  }
  .titleH2{
    font-size: 30px;
  }
}
