.conten{
  max-width: 100% !important;
  overflow: hidden !important;
  background-color: var(--colorHome);
  min-height: 100vh;
}
.title{
  font-size: xx-large !important;
}
.titleH3{
  text-shadow: 2px 2px 2px var(--colorShadow);
  font-size: 50px;
}
.link{
  color: white;
  transition: color 0.5s ease;
}
.link:hover{
  color: black;
}

@media (max-width: 768px) {
  .titleH3{
    font-size: 30px;
  }
}