:root {
  --colorDetail: rgba(0, 0, 116, 1);
  --colorShadow: rgba(0, 0, 116, 0.4);
  --colorHome: rgba(154, 152, 179, 0.589);
}
*{
  margin: 0;
  padding: 0;
}
.effect-translateX-toLeft {
  transition: transform 0.6s ease-in-out;
  transform: translateX(-110%);
}
.effect-translateX-toLeft.EfectVisible1 {
  transform: translateX(0);
}
.effect-translateX-toRight {
  transition: transform 0.9s ease-in-out;
  transform: translateX(110%);
}
.effect-translateX-toRight.EfectVisible2 {
  transform: translateX(0);
}
.effect-size{
  transition: transform 1s ease-in-out;
  transform: scale(0);
  transform-origin: center;
}
.effect-size.EfectVisible3 {
  transform: scale(1);
}
