.graphicSize{
  min-height: 300px !important;
  max-height: 500px !important;
}
.controller{
  color: white;
  background-color: var(--colorDetail);
  border-radius: 10px ;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.controller:hover{
  background-color: var(--colorHome);
  color: black;
  transform: scale(1.2);
  transition: transform 0.3s;
}
.graphicStyle{
  background-color: rgb(255, 255, 255);
}
.styleText{
  text-shadow: 2px 2px 2px var(--colorShadow);
}

@media (max-width: 768px) {
  .graphicSize {
    min-height: 200px !important;
    max-height: 400px !important;
  }
}
